# eslint ignore file - files/directories to be excluded

# negated files/directories to be included
# Directories that start with dots are excluded by default, causing eslint warnings
dr-surge.js
dist
!.github/

